.topic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    border-radius: 0.25rem;
    margin: 0.2rem 0;
    background-color: #161B22;
}

.topic-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.topic-path {
    font-size: 1.5rem;
    font-weight: 500;
    color: #58A6FF;
}

.topic-star  {
    display: flex;
    align-items: center;
}

.star-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.stargazer-count {
    margin-left: 0.5rem;
    font-weight: bold;
    color: #FACA28;
}

.related-topics {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

@media screen and (max-width: 730px) {
    .topic {
        padding: 0.7rem 0.7rem;
    }

    .topic-path {
        font-size: 1.2rem;
    }

    .stargazer-count{
        font-size: 0.8rem;
    }

    .star-icon {
        width: 1rem;
        height: 1rem;
    }
}